/*Basic reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font face*/

@font-face {
  font-family: "bold";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "bolditalic";
  src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "extrabold";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "extrabolditalic";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "italic";
  src: url("./assets/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

/*Main one*/
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/*white box*/
.main_wrapper {
  background-color: #fff;
  height: 70vh;
  width: 50%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 20%;
}
/*input wrapper*/
.main_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0rem 0rem 3rem;
}
.main_input div {
  margin-right: 3rem;
}

.main_input input {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  font-size: 30px;
  color: slateblue;
  font-weight: 800;
  outline: slateblue;
  padding-left: 10px;
}

.main_input input:focus {
  border-color: slateblue;
}

.main_input p {
  color: #636262;
  font-size: 16px;
  font-family: regular;
}

.container {
  width: 87%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line {
  width: 80%;
  border: 1px solid rgb(208, 203, 203);
  border-top: none;
  border-left: none;
  border-right: none;
}
.arrow {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 9px 11px;
  border-radius: 1000px;
  font-style: normal !important;
}

/**Lower part*/
