/*
  Import from google fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 10px;
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

body {
  font-weight: 700;
  background-color: var(--Light-grey);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper_inside {
  background-color: var(--Off-white);
  width: 70rem;
  height: 60rem;
  padding: 4rem;
  border-radius: 2rem;
  border-bottom-right-radius: 17rem;
}

/*Input*/
.inputs {
  display: flex;
  width: 50rem;
  justify-content: space-between;
  color: var(--Smokey-grey);
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
input {
  width: 14rem;
  padding: 1rem;
  padding-left: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: 1px solid var(--Light-grey);
  color: var(--Off-black);
}
.input input:focus {
  border: 1px solid var(--Purple);
  outline: none;
}
.error {
  font-size: 1.2rem;
  color: var(--Light-red);
  text-transform: none;
  margin-top: 1rem;
}
/*btn and line*/

.line_btn {
  display: flex;
  align-items: center;
}
.line {
  width: 100%;
  border-bottom: 1px solid var(--Light-grey);
}
button {
  padding: 2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--Purple);
  cursor: pointer;
  transition: 0.3s ease;
}
/*result*/
.result {
  font-size: 7rem;
  font-weight: 800;
  font-style: italic;
  margin-bottom: -20px;
  color: var(--Off-black);
}
span {
  color: var(var(--Purple));
}

@media (max-width: 600px) {
  .wrapper_inside {
    width: 50rem;
    height: 75rem;
    padding-top: 10rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
  }
  .result {
    font-size: 5rem;

    color: var(--Off-black);
  }
}
