/*Reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
/*Variables*/
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}
/*Set the body to the center*/
body {
  background-color: var(--Light-grey);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*card*/
.card {
  background-color: var(--White);
  width: 800px;
  border: 1px solid var(--White);
  border-radius: 1rem 1rem 10rem 0.1rem;
  padding: 3rem;
}
/*form*/
form {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.block {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
label {
  font-weight: 800;
}
input {
  width: 100px;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-grey);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
input::placeholder {
  font-size: 1.5rem;
  font-weight: 800;
}

/*The arrow and the btn*/
.btn {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.btn hr {
  width: 80%;
}
.btn button {
  background-color: var(--Purple);
  padding: 1rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Result*/
.result h1 {
  font-size: 3.5rem;
  font-weight: 800;
  font-style: italic;
  height: fit-content;
  margin-left: 40px;
}
.result span {
  color: var(--Purple);
}

/*Reset*/
.reset_container {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reset {
  width: 50px;
  background-color: var(--Off-black);
  color: var(--White);
  border: 1px solid var(--Off-black);
  cursor: pointer;
  margin-left: 40px;
  padding: 0.5rem;
  border-radius: 100%;
  transform: rotate(270deg);
}
.reset_container p {
  margin-left: 0.2rem;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
  height: fit-content;
}

/*Query*/

@media screen and (max-width: 600px) {
  .card {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  form {
    gap: 1rem;
    display: flex;
    flex-direction: column !important;
  }
  .block {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .reset_container {
    position: absolute;
    bottom: -5rem;
    right: 3rem;
  }
}
